<header class="header">
    <div class="header-container">
        <p class="header-text"> Evaluación final - JavaScript</p>
        <form id="input-container" method="POST" action="">
            <label for="Name" class="input-title"><h1 class="main-title"> Buscador de <br>peliculas y series</h1></label>
            <input id="search-name" name="search" type="text" placeholder="Nombre de la pelicula o serie">
            <a href="#main" id="submit-button"  type="submit"></a>
        </form>
        <p class="header-text"> Maite Villar</p>
    </div>
</header>
