.header{
    background-color: $complementaryColor;

    .header-container{
        height: 100vh;
        width: 100%;
        padding:40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: $primary-color;
        border: 10px solid $secondary-color;
        border-radius: 5px;

        .header-text{
            font-family: $primary-font;
            color: $complementaryColor;
            text-transform: uppercase;
        }
        
        #input-container{
            text-align: center;
            font-size: 50px;
        }
    }
}
        
    .main-title{
    width: 1300px;
    font-size: 130px;
    letter-spacing: 1px;
    font-family: $title-font;
    line-height: 130px;
    color: $secondary-color;
    margin-bottom: 60px;
    }

    .main-subtitle{
        font-family: $primary-font;
        color: $secondary-color;
        font-size: 20px;
    }

    #search-name{
        height: 40px;
        width: 400px;
        margin-top: 40px;
        margin-right: 15px;
        border-style: none;
        padding: 8px;
        font-size: 16px;
        border-radius: 8px;
        align-items: center;
        background-color: $primary-color;
        color: $secondary-color;
        border: 1px solid $secondary-color;
    }

    #submit-button{
        border-style: none;
        height: 30px;
        padding: 6px;
        border-radius: 8px;
        background-color: $secondary-color;
        font-size: 14px;
        color: $primary-color;
        cursor: pointer;
    }
    
