.wrapper{
    padding: 100px 60px 50px 60px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.header{
    height: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .header-container{
        max-width: 450px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        &__subtitle{
            color: $titleColor;
            text-transform: uppercase;
            font-size: 0.8rem;
            margin-bottom: 15px;
            letter-spacing: 0.6px;
        }

        &__text{
            color: $titleColor;
            text-transform: capitalize;
            font-size: 3.1666666666666667rem;
            margin-bottom: 40px;
        }

        &__input{
            padding: 20px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &--fill{
                min-width: 300px;
                padding: 5px 15px 5px 15px;
                border-radius: 15px;
                background-color: rgba(255, 255, 255, 0.555);
                border: none; 
                box-shadow: $bgShadow;
                font-size: 0.83rem;
            }

            &--btn{
                margin-right: 20px;
                padding: 10px 15px 10px 15px;
                width: 40px;
                height: 40px;
                background-image: url('../images/i-search.png');
                background-size: 40%;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 10px;
                background-color: $bgColor;
                box-shadow: $bgShadow;
                font-size: 0.83rem;
                cursor: pointer;
            }
        }
    }

    .fav-container{
        height: 100%;
        margin-left: 20px;
        margin-right: 20px;
        border-top: solid 1px white;
        

        &__title{
            margin-top: 20px;
            color: white;
            color: $titleColor;
            text-transform: uppercase;
            font-size: 0.8rem;
            margin-bottom: 15px;
            letter-spacing: 0.6px;
        }

        &__list{
            margin-top: 30px
            ;
            .favList-item{
                background-color: rgba(27, 27, 27, 0.781);
                border-radius: 10px;
                box-shadow: $bgShadow;
                margin-top: 10px;
                padding: 10px 15px 10px 15px;
                display: flex;

                &_img{
                    border-radius: 10px;
                    width: 20%;
                    box-shadow: $bgShadow;
                }

                &_content{
                    padding-top: 5px;
                    width: 100%;
                    margin-left: 30px;
                    color: white;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    &--list .element{
                        font-family: $primary-font;
                        color: rgba(211, 211, 211, 0.801);
                        padding: 4px;
                    }

                }

                &_title{
                    margin-right: 100px;
                    color: $titleColor;
                    font-size: 0.75rem;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                }

                .fav-button{
                    width: 20px;
                    height: 20px;
                    background-image: url('../images/delete.png');
                    border-color: transparent;
                    background-size: 40%;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 20px;
                    background-color: $bgColor;
                    box-shadow: $bgShadow;
                    cursor: pointer;
                    margin-right: 100px;
                }
            }

        }
    }
}