.page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main{
    flex-grow: 2;
    padding: 0px 30px 30px 30px;
    height: 100vh;
    background-color: $secondary-color;
}

.result-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .resultList-item{ //es el li
        padding: 15px 15px 15px 15px;
        border: 1px solid $primary-color;
        border-radius: 10px;
        margin: 0px 10px 20px 10px;

         &_img{ //imd del li
           width: 180px;
        }

        .span-list{
        .resultList-item_title{ // title del li
            margin-top:10px;
            font-size: 16px;
            max-width: 140px;
        }
        .heart{
            background-color: red;
            width: 50px;
        }
    }
    }
}