.page{
    display: flex;
    flex-direction: row;
}

.main{
    flex-grow: 2;
    padding: 0px 30px 30px 30px;
    height: 100%;
    background-color: rgb(235, 235, 235);
}

.resultList-item{ //es el li
    padding: 40px 20px 0px 40px;
    display: inline-block;

    &_img{ //imd del li
        width: 180px;
    }

    &_title{ // title del li
        padding-top:5px;
        font-size: 20px;
        max-width: 200px;
    }
}