.page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top:60px;
}

.main{
    flex-grow: 2;
    padding: 0px 30px 30px 30px;
    height: 100%;
    background-color: $secondary-color;
}

.result-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    .resultList-item{ //es el li
        max-width: 212px;
        padding: 15px 15px 15px 15px;
        border: 1px solid $primary-color;
        border-radius: 10px;
        margin: 0px 10px 20px 10px;
        cursor: pointer;

        :hover{
            border: 1px solid transparent;
        }

        &_img{ //imd del li
           width: 180px;
        }

        &_content{
            display: flex;
            justify-content: space-between;

            .resultList-item_title{ // title del li
                margin-top:10px;
                font-size: 16px;
                max-width: 160px;
            }

            .resultList-item_heart{
                //background-image: url(../images/like.png);
                margin-top:10px;
                height: 16px;
                width: 16px;
                cursor: pointer;
            }
        }
    }
}

