$title-font:  'Roboto', sans-serif;
$primary-font: 'Raleway', sans-serif;

$titleColor: white;
$subtitleColor: rgba(255, 255, 255, 0.842);

$textPrimaryColor: rgb(180, 147, 147);
$textHighlight: white;

$bgColor: rgb(46, 46, 46);

$bgShadow:  3px 4px 19px 5px rgb(0, 0, 0);

$defaultFontSize: 12px;